.body-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
    margin-bottom: 5%;
}


.title-underline
{
    position: relative;
    content: "";
    border-bottom: 4px solid black;
    width: 60%;
    height: 1px;

    margin-top: -50px;
    margin-left: 43px;
    margin-bottom: 55px;
    border-radius: 20px;
}


.form-container form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.form-container form input[type=text],
.form-container form input[type=email],
.form-container form textarea
{
    width: 385px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2.3px;
    border-style: solid;
    border-color: #120B46;
    border-radius: 5px;
    box-shadow: 0 0 5px #ddd;
}

.form-container form textarea
{
    height: 150px;
    resize: none;
}

.form-container form button[type=submit]
{
    background-color: #120B46;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 85px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container form button[type=submit]:hover
{
    background-color: #444;
}



/* Responsiveness: */
@media only screen and (max-width: 767px)
{
    .body-container .title
    {
        font-size: 20px;
    }
}
