/* stylesheet for top navigation and footer */

/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
        position: relative;
        margin: 0;

}

body {
        margin: 0;
}

.logo {
        float: left;
        margin-left: 10%;
}

.logo a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 48px;
        display: flex;
        align-items: center;

        color: #0F0D37;   
}

.navbar {
        background-color: white;
        position: fixed;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;

        justify-content: space-between;
        display: flex;
        align-items: center;
}

.links {
        margin-right: 10%;
        float: right;
}

.links a {
        float: left;
        text-align: center;
        padding: 14px 20px;

        display: block;
        color: #0F0D37;
}

.navbar .links a:hover {
        background-color:#0F0D37;
        color: white;
}

.logo a:hover {
        text-decoration-line:underline ;

}

.normal-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
}

.large-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
}

.footer {
        display: flex;
        background-color: #030220;
        color: #fff;
        justify-content: center;
        padding: 8px;
        width: 100%;
        margin: 0;
}


.footer-center-container {
        display: flex;
        flex-direction: column;
        width: 50%;
}

.footer-learn-more {
        text-align: center;
        color: #FFFFFF;

        margin: 16px;
}

.footer-button1 {
        background-color: white;
}

.footer-button2 {
        background-color: #0F0D37;        
}

.footer-button1, .footer-button2 {
        width: 25%;
        border-width: 3px;
        border-color: white;
        border-style: solid;
        text-align: center;
        padding: 8px 24px;
}

.footer-buttons-container {
        display: flex; 
        margin-bottom: 16px; 
        justify-content: center;
        gap: 30px;
}

.footer-button1 {
        color: #000000;
}

.footer-button2 {
        color: white;
}

.footer-button1:hover {
        color: white;
        background-color: #0F0D37;
}
.footer-button2:hover {
        color: #0F0D37;
        background-color: white;
}

a {
        text-decoration: none;
}



/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navbar (.icon) */
@media screen and (max-width: 1000px) {
        .links a:not(:last-child) {display: none;}
        .navbar a.menu {
          float: left;
          display: block;
          font-size: 32px;
        }
}

@media screen and (min-width: 1000px) {
        a.menu {
                display: none;
        }
} 
    /* mobile nav */
    /* The Overlay (background) */
    
    .overlay {
        /* Height & width depends on how you want to reveal the overlay (see JS below) */
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: black;
        /* Black fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/opacity */
        overflow-x: hidden;
        /* Disable horizontal scroll */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }
    /* Position the content inside the overlay */
    
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        /* 30px top margin to avoid conflict with the close button on smaller screens */
    }
    /* The navigation links inside the overlay */
    
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: white;
        display: block;
        /* Display block instead of inline */
        transition: 0.3s;
        /* Transition effects on hover (color) */
    }
    
    .overlay a:hover,
    .overlay a:focus {
        color: grey;
    }
    /* Position the close button (top right corner) */
    
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 50px;
        cursor: pointer;
    }
    
    /* screen height < 450 pixels,
    font-size of the links and position the close button again, so they don't overlap */
    
    @media screen and (max-height: 450px) {
        .overlay a {
            font-size: 20px
        }
        .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
    }
